<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="vector_arm_ros2_control" params="prefix">
        <ros2_control name="vector_arm_system" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>

            <joint name="${prefix}shoulder_pan">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}shoulder_lift">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}elbow_flex">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}wrist_flex">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}wrist_roll">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}gripper">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <gazebo>
            <plugin filename="gz_ros2_control-system"
                    name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find vector_description)/config/controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>