controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    use_sim_time: true

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    
    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController
    
    gripper_controller:
      type: position_controllers/GripperActionController

arm_controller:
  ros__parameters:
    joints:
      - shoulder_pan
      - shoulder_lift
      - elbow_flex
      - wrist_flex
      - wrist_roll
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
      - velocity

gripper_controller:
  ros__parameters:
    joint: gripper
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
      - velocity